<div class="mod-pedal mod-pedal-boxy{{{cns}}}">
    <div mod-role="drag-handle" class="mod-drag-handle"></div>
    <!--<div class="mod-plugin-brand"><h1>{{brand}}</h1></div>-->
    <div class="mod-plugin-name"><h1>{{label}}</h1></div>
    <div class="mod-light on" mod-role="bypass-light"></div>

    <div class="mod-enum-top-group clearfix">
        {{#controls.6}}
        <div class="mod-control-group mod-enumerated-group bottom" style="width:130px;float:left">
            <div class="mod-enumerated float" mod-role="input-control-port" mod-port-symbol="{{symbol}}" mod-widget="custom-select">
                <div mod-role="input-control-value" mod-port-symbol="{{symbol}}" class="mod-enumerated-selected"></div>
                <div class="mod-enumerated-list">
                    {{#scalePoints}}
                    <div mod-role="enumeration-option" mod-port-value="{{value}}">{{label}}</div>
                    {{/scalePoints}}
                </div>
            </div>
        </div>
        {{/controls.6}}
        {{#controls.5}}
        <div class="mod-control-group mod-enumerated-group bottom" style="width:130px;float:right">
            <div class="mod-enumerated float" mod-role="input-control-port" mod-port-symbol="{{symbol}}" mod-widget="custom-select">
                <div mod-role="input-control-value" mod-port-symbol="{{symbol}}" class="mod-enumerated-selected"></div>
                <div class="mod-enumerated-list">
                    {{#scalePoints}}
                    <div mod-role="enumeration-option" mod-port-value="{{value}}">{{label}}</div>
                    {{/scalePoints}}
                </div>
            </div>
        </div>
        {{/controls.5}}
    </div>

    <div class="mod-status-group clearfix">
        <span class="status" mod-role="status">LOADING SAMPLES...</span>
    </div>

    <div class="mod-control-group mod-{{knob}} clearfix">
        {{#controls.0}}
        <div class="mod-knob" title="{{comment}}">
            <span class="mod-knob-value" contenteditable="true" mod-role="input-control-value" mod-port-symbol="{{symbol}}"></span>
            <div class="mod-knob-image" mod-role="input-control-port" mod-port-symbol="{{symbol}}"></div>
            <span class="mod-knob-title">{{name}}</span>
        </div>
        {{/controls.0}}
        {{#controls.1}}
        <div class="mod-knob" title="{{comment}}">
            <span class="mod-knob-value" contenteditable="true" mod-role="input-control-value" mod-port-symbol="{{symbol}}"></span>
            <div class="mod-knob-image" mod-role="input-control-port" mod-port-symbol="{{symbol}}"></div>
            <span class="mod-knob-title">{{name}}</span>
        </div>
        {{/controls.1}}
        {{#controls.2}}
        <div class="mod-knob" title="{{comment}}">
            <span class="mod-knob-value" contenteditable="true" mod-role="input-control-value" mod-port-symbol="{{symbol}}"></span>
            <div class="mod-knob-image" mod-role="input-control-port" mod-port-symbol="{{symbol}}"></div>
            <span class="mod-knob-title">{{name}}</span>
        </div>
        {{/controls.2}}
        {{#controls.3}}
        <div class="mod-knob" title="{{comment}}">
            <span class="mod-knob-value" contenteditable="true" mod-role="input-control-value" mod-port-symbol="{{symbol}}"></span>
            <div class="mod-knob-image" mod-role="input-control-port" mod-port-symbol="{{symbol}}"></div>
            <span class="mod-knob-title">{{name}}</span>
        </div>
        {{/controls.3}}
    </div>

    <div class="mod-control-group mod-{{knob}} clearfix" style="margin-left: 90px !important;">
        {{#controls.4}}
        <div class="mod-knob" title="{{comment}}">
            <span class="mod-knob-value" contenteditable="true" mod-role="input-control-value" mod-port-symbol="{{symbol}}"></span>
            <div class="mod-knob-image" mod-role="input-control-port" mod-port-symbol="{{symbol}}"></div>
            <span class="mod-knob-title">{{name}}</span>
        </div>
        {{/controls.4}}
        {{#controls.7}}
        <div class="mod-knob" title="{{comment}}">
            <span class="mod-knob-title-on">vel. interpol.</span>
            <div class="mod-togglebutton off" mod-widget="switch" mod-role="input-control-port" mod-port-symbol="{{symbol}}"></div>
            <span class="mod-knob-title-off">vel. normal</span>
        </div>
        {{/controls.7}}
    </div>
    
    <div class="mod-brand-img"> </div>
    
    <div class="mod-footswitch" mod-role="bypass"></div>
    
    <div class="mod-pedal-input">
        {{#effect.ports.audio.input}}
        <div class="mod-input mod-input-disconnected" title="{{name}}" mod-role="input-audio-port" mod-port-symbol="{{symbol}}">
            <div class="mod-pedal-input-image"></div>
        </div>
        {{/effect.ports.audio.input}}
        {{#effect.ports.midi.input}}
        <div class="mod-input mod-input-disconnected" title="{{name}}" mod-role="input-midi-port" mod-port-symbol="{{symbol}}">
            <div class="mod-pedal-input-image"></div>
        </div>
        {{/effect.ports.midi.input}}
        {{#effect.ports.cv.input}}
        <div class="mod-input mod-input-disconnected" title="{{name}}" mod-role="input-cv-port" mod-port-symbol="{{symbol}}">
            <div class="mod-pedal-input-image"></div>
        </div>
        {{/effect.ports.cv.input}}
    </div>

    <div class="mod-pedal-output">
        {{#effect.ports.audio.output}}
        <div class="mod-output mod-output-disconnected" title="{{name}}" mod-role="output-audio-port" mod-port-symbol="{{symbol}}">
            <div class="mod-pedal-output-image"></div>
        </div>
        {{/effect.ports.audio.output}}
        {{#effect.ports.midi.output}}
        <div class="mod-output mod-output-disconnected" title="{{name}}" mod-role="output-midi-port" mod-port-symbol="{{symbol}}">
            <div class="mod-pedal-output-image"></div>
        </div>
        {{/effect.ports.midi.output}}
        {{#effect.ports.cv.output}}
        <div class="mod-output mod-output-disconnected" title="{{name}}" mod-role="output-cv-port" mod-port-symbol="{{symbol}}">
            <div class="mod-pedal-output-image"></div>
        </div>
        {{/effect.ports.cv.output}}
    </div>

</div>