/* STYLES FOR THE BOXY PEDAL */

@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);


/* = CONTAINER
================================================ */
.mod-pedal-boxy{{{cns}}} {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:230px 500px;
    height:500px;
    position:absolute;
    width:230px;
    border-radius: 21px;
}

.mod-pedal-boxy{{{cns}}} {
    background-size:350px 500px;
    width:350px;
}

/* = ENUMERATED LIST
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-enum-top-group {
    cursor:pointer;
    margin:5px 40px 5px 40px !important;
}

.mod-pedal-boxy{{{cns}}} .mod-status-group {
    background-color:#ccaa66;
    margin:5px 40px 5px 40px !important;
    height: 25px;
    position:relative;
    text-align:center;
    font-size:15px;
    z-index:30;
    color:black;
    box-shadow: 2px 2px 2px 0px #000 inset, -1px -1px 1px 1px #888 inset;
    border-radius: 3px;
    padding:3px 10px;
}


/* PORTS
================================================ */

.mod-pedal-boxy{{{cns}}} .mod-pedal-input,
.mod-pedal-boxy{{{cns}}} .mod-pedal-output {
    top: 100px;
}

/* = PLUGIN'S AUTHOR
================================================ */
.mod-brand-img {
    background-image:url(/resources/effe.svg{{{ns}}});
    background-position:top center;
    background-size:auto auto;
    background-repeat:no-repeat;
    background-color: rgb(231, 225, 225);
    border-radius: 10px;
    position: absolute;
    left: -65px;
    bottom: 140px;
    height:60px;
    width: 250px;
    transform: rotate(270deg);
}

/* = PLUGIN'S NAME
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-plugin-name {
    left:30px;
    overflow:hidden;
    position:absolute;
    right:30px;
    text-align:center;
    bottom:35px;
}

.mod-pedal-boxy{{{cns}}} .mod-plugin-name h1 {
    font-family:"Courier New" !important;
    font-size:21px;
    line-height:1;
    color: rgb(0, 78, 20);
    font-weight:bold;
}


/* = LIGHT ON/OFF
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-light {
    background-position:center center;
    background-repeat:no-repeat;
    height:32px;
    left:10px;
    position:absolute;
    right:10px;
    bottom:150px;
}

/* = SWITCH
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-togglebutton {
    background-image:url(/resources/switch.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 128px;
    cursor:pointer;
    height:64px;
    margin: 20px auto 0px auto;
    width: 88px;
}

.mod-pedal-boxy{{{cns}}} .mod-togglebutton.on {
    background-position: top center !important;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-value{
    display:block;
    font-size:11px;
    font-weight:bold;
    height:12px;
    left:0;
    right:0;
    margin:3px;
    padding:0;
    line-height:1;
    overflow:hidden;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title-on,
.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title-off
{
    display:block;
    font-size:11px;
    font-weight:bold;
    height:12px;
    left:0;
    line-height:1;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    right:0;
    text-transform:uppercase;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title-on
{
    top:4px;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title-off
{
    bottom:1px;
}

/* = FOOTSWITCH
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-footswitch {
    background-image:url(/resources/footswitch.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 132px;
    bottom: 20px;
    left: 13px;
    right: 13px;
    cursor:pointer;
    height:66px;
    width: 66px;
    margin: auto;
    position:absolute !important;
}
.mod-pedal-boxy{{{cns}}} .mod-footswitch.on {
    background-position-y: top !important
}

.mod-pedal-boxy{{{cns}}} .mod-footswitch
{
    top:300px;
}


/* = KNOBS
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-control-group {
    margin:5px !important;
    position:relative;
    text-align:center;
    z-index:30;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob {
    overflow:hidden;
    position:relative;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title {
    bottom:0px;
    display:block;
    font-size:11px;
    font-weight:bold;
    height:12px;
    left:0;
    line-height:1;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    right:0;
    text-transform:uppercase;
}



/* THREE AND HIGHER KNOBS */
.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob .mod-knob-image
{
    background-image:url(/resources/lata.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 60px;
    height:60px;
    width:60px;
    margin:0 7px;
}
.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob
{
    display:inline-block;
    height:95px;
}

/* = ENUMERATED LIST
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-enumerated-group {
    height:31px;
    margin:20px auto 0 !important;
    position:relative;
    width:190px;
    z-index:35;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated-group {
    margin-bottom:5px !important;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated-group {
    width:250px;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated {
    background-position:right center;
    background-repeat:no-repeat;
    font-size:13px;
    font-weight:bold;
    left:0;
    line-height:2;
    overflow:hidden;
    position:absolute;
    right:0;
    text-align:left;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-selected {
    background-color:rgba(152, 161, 156, 0.3);
    padding:3px 9px;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list {
    background-color:#d4d4d4;
    display:none;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated {
    background-color:#ccaa66;
    box-shadow: 2px 2px 2px 0px #000 inset, -1px -1px 1px 1px #888 inset;
    border-radius: 3px;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list > div {
    padding:3px 9px;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list > div:hover {
    background-color:#d4ba86;
    cursor:pointer;
}

/* = BACKGROUND IMAGES - Color of the pedal
================================================ */
.mod-pedal-boxy{{{cns}}} {
    background-image:url(/resources/white.png{{{ns}}});
}

/* = COLORS - Color of the pedals labels
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-enumerated
{
    background-image:url(/resources/dropdown-arrow-black.png{{{ns}}});
}

.mod-pedal-boxy{{{cns}}} h1,
.mod-pedal-boxy{{{cns}}} .mod-enumerated,
.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title,
.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-value,
.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title-on,
.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title-off
{
    color:black;
}

.mod-pedal-boxy{{{cns}}} h1
{
    border-color:black;
}

/* STYLES FOR THE BOXY KNOB */


/* = KNOBS
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/aluminium.png{{{ns}}});
}
